@font-face {
    font-family: SourceSansProBold;
    src: url('../fonts/source-sans-pro/SourceSansProBold.ttf');
}
@font-face {
    font-family: SourceSansProRegular;
    src: url('../fonts/source-sans-pro/SourceSansProRegular.ttf');
}
@font-face {
    font-family: SourceSansProLight;
    src: url('../fonts/source-sans-pro/SourceSansProLight.ttf');
}
@font-face {
    font-family: SourceSansProSemibold;
    src: url('../fonts/source-sans-pro/SourceSansProSemibold.ttf');
}
@font-face {
    font-family: SourceSansProBlack;
    src: url('../fonts/source-sans-pro/SourceSansProBlack.ttf');
}

.btn{
    text-transform: inherit;
}
.row{
    margin-bottom:0;
}

/*the start of step1 style*/
.tickets,.find-ticket{
    background: #f5f5f5;
}
.ticket-title{
    margin-top:0;
    font-family: SourceSansProBold;
    font-size: 22px;
    line-height: 1.22em;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    padding-top:14px;
    margin-left:-6px;
}
.ticket-item{
    height: 180px;
    background: #fff;
    border-radius:10px;
    margin-bottom:16px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09), 0 10px 30px 0 rgba(0, 0, 0, 0.09);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.first-child-bg{
    background-image: linear-gradient(120deg, #1d70b8 0%, #1d99b8 100%);
}
.ticket-item>img{
    width: 180px;
    height: 48px;
    position: relative;
    top:36.6666666667%;
}
/*the end of step1 style*/
/*the start of step2 style*/
.movie-box{
    margin-bottom:10px;
    margin-left:-5px;
    margin-right:-5px;
    padding:16px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09), 0 10px 30px 0 rgba(0, 0, 0, 0.09);
}
.each-image{
    height: 267px !important;
    background: #1d95b8;
    background-image: url(../img/078958.jpg-r_1920_1080-f_jpg-q_x-xxyxx__resized.jpg);
    background-size: cover !important;
    background-repeat: no-repeat;
}

.d-count{
    font-family: SourceSansProRegular;
    font-size: 18px;
    color:#2b90ce;
    line-height: 1.22em;
}
.subtitle{
    font-family: SourceSansProRegular;
    font-size: 14px;
    line-height: 1.22em;
    position: relative;

    /*added*/
    /*top:-2px;*/
}
/*added*/
@media screen and (min-width:600px){
    .subtitle{
        height: 34px;
        overflow: hidden;
    }
}


.box-bottom>.left{
    margin-top:10px;
}
.buy-ticket-btn>a{
    background-image: linear-gradient(120deg, #1d70b8 0%, #1d99b8 100%);
    color:#fff;
    font-family: SourceSansProRegular;
    font-size: 16px;
    height: 34px;
    border-radius: 28px;
    width:100%;
    /*added*/
    /*margin-top:20px;*/
    margin-bottom:4px;
    box-shadow: none;
}
.buy-ticket-btn>a:hover{
    background-image: linear-gradient(120deg, #1d99b8 0% , #1d70b8 100%);
    box-shadow: none;
}
.play-icon{
    font-size:32px;
    color:#ccc;
    position: relative;
    top:-8px;
}
.play-icon:hover{
    color:#fc002a;
}
/*body{*/
    /*background:#f5f5f5;*/
/*}*/
/*the start style of movie details page*/
.movie-details{
    max-width:889px;
    margin-top:16px;
}
.details-header{
    font-family: SourceSansProBold;
    font-size:22px;
    text-align: left;
}
.see-all-movies>a,.see-all-movies>a>i{
    color:#2b90ce;
    font-size:14px;
    font-family: SourceSansProRegular;
}
.details-header>.col{
    padding:0;
}
.movie-name,.see-all-movies{
    margin:0;
}
.movie-name{
    margin-top:-8px;
}
.see-all-movies{
    margin-top:-14px;
}
.choose-movie-time{
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09), 0 10px 30px 0 rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    margin-top:24px;
    padding-left:0 !important;
    padding-right:0 !important;
}

.select-date>input,.select-date>ul>li>span{
    font-family: SourceSansProLight;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}
.select-date>ul>li>span:hover{
    color:#2b90ce !important;
    font-family: SourceSansProRegular;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected{
    background:#fff !important;
}

.select-date>input{
    height: 40px !important;
    border-radius: 3px;
    border:1px solid #eaeaea !important;
    padding-left:20px !important;
    width:155px !important;
    position: relative;
    top:-4px;
}
.select-part{
    margin-top:20px;
}
.select-date{
    margin-left:8px;
    margin-right:8px;
}
.select-part>.caret{
    height: 5px;
}
.select-date>span{
    display: none;
}
.date-chevron-down{
    top:10px;
    right:30px;
    font-size: 18px !important;
    position: relative;
    cursor: pointer;
}
.select-date>ul{
    top:0 !important;
}

.lbl-detail{
    font-size:14px;
    font-family: SourceSansProRegular;
    color: rgba(102, 102, 102, 0.79);
}
.span-detail{
    font-size:14px;
    font-family:SourceSansProRegular;
    color:#000;
}
.list_mov_details>li{
    margin-bottom:8px;
}
/*all info movie*/
.all-info-movie{
    background: #fff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09), 0 10px 30px 0 rgba(0, 0, 0, 0.09);
    padding-top: 20px;
    padding-left:0;
    padding-right:0;
    margin-bottom:50px;
}
.single-img-bg{
    height: 268px;
    background-image: url(../img/05-2_Filmy_Vystavki_Az_674x1000px3_resized.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
}
.movie-annotation{
    font-size:14px;
    font-family: SourceSansProRegular;
    color: rgba(0, 0, 0, 0.59);
}
.movie-annotation{
    margin-top:30px;
}
.see-all-movies-btn, .see-all-movies-btn:hover,.see-all-movies-btn:focus{
    width:100%;
    text-transform: uppercase;
    margin-left:0;
    margin-right:0;
    margin-top:60px;
    height: 66px;
    padding-top:16px;
    font-size: 16px;
    box-shadow: none;
    border:none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: SourceSansProBold;
    background: -moz-linear-gradient(0deg, rgba(29,153,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,112,184,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(29,153,184,1)), color-stop(44%, rgba(29,153,184,1)), color-stop(100%, rgba(29,112,184,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(29,153,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,112,184,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(29,153,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,112,184,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(29,153,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,112,184,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(29,153,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,112,184,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d99b8', endColorstr='#1d70b8',GradientType=1 ); /* ie6-9 */
}
.see-all-movies-btn:hover{
    background: -moz-linear-gradient(0deg,rgba(29,112,184,1)  0%, rgba(29,153,184,1) 44%, rgba(29,153,184,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(29,112,184,1)), color-stop(44%, rgba(29,153,184,1)), color-stop(100%, rgba(29,153,184,1))); /* safari4+,chrome */

    background: -webkit-linear-gradient(0deg, rgba(29,112,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,153,184,1)100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(29,112,184,1) 0%, rgba(29,153,184,1) 44%,rgba(29,153,184,1)  100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(29,112,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,153,184,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(29,112,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,153,184,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d99b8', endColorstr='#1d70b8',GradientType=1 ); /* ie6-9 */
}
.all-btn{
    padding-left:0 !important;
    padding-right:0 !important;
}
.movie-single-img{
    padding-left:20px !important;
}
.wrapper{
    position:relative;
}
.playpause>.mdi-play {
    font-size: 34px;
    position:absolute;
    width: 71px;
    height: 50px;
    left:44%;
    top:40%;
    color:#fff;
    border-radius: 12px;
    padding-left:18px;
    background-size:contain;
    background-position: center;
    background: rgba(0, 0, 0, 0.72);
}
.playpause{
    cursor: pointer;
}

/*the start style of popups*/
.choose-movie-kind{
    /*max-width:677px; !*will be changed*!*/
    height: auto;
    background: #fff !important;
}
#modal1,#modal2,#modal3{
    width:72%;
}
.movie-name-on-left>p{
    font-size:22px;
    font-family: SourceSansProBold;
    margin-top:10px;
    color:#444;
}
.movie-name-on-left{
    padding-left:18px !important;
}
.close-modal{
    padding-right:18px !important;
}
.countdown-movie-time>p,.countdown-txt {
    font-size: 24px;
    font-family: SourceSansProBold;
    margin-top: 8px;
    color: #444;
}

.countdown-movie-time{
    text-align: right;
    margin-top:6px;
}
.close-modal>a>.mdi-close{
    color: red;
    margin-top:14px;
}

.info-movie-times>ul>li{
    display: inline-block;
    margin-right:48px;
    margin-bottom:8px;
}
.info-movie-times>ul>li>label{
    font-family: SourceSansProRegular;
    font-size:14px;
}
.info-movie-times>ul>li>span{
    font-family: SourceSansProSemibold;
    font-size:14px;
}
.info-movie-times>ul{
    margin-top:-12px;
}
.info-movie-times{
    padding-left:18px !important;
    padding-right:18px !important;
}
.modal-header{
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    margin-bottom:32px;
    padding-bottom:4px;
}
.type-img{
    width:40px;
    height:40px;
    margin-top:4px;
    margin-bottom:-6px;
}
.modal-content-list>li{
    text-align: center;
}
.movie-type{
    font-size:14px;
    font-family: SourceSansProSemibold;
}
.movie-cost{
    font-size: 14px;
    color:#fd0e2b;
    font-family: SourceSansProSemibold;
}
.ticket-count{
    margin-top:6px;
}
.ticket-count>label{
    font-size: 12px;
    font-family: SourceSansProRegular;
    color: rgba(0, 0, 0, 0.4);
}
.count-ticket-label{
    position: relative;
    top:-8px;
    right:2px;
}
.select-item-ticket .select-wrapper input.select-dropdown{
    border-bottom:0;
    border:1px solid rgba(0, 0, 0, 0.06) !important;
    height: 30px;
    border-radius: 4px;
    padding-left:8px;
    font-size:12px;
    margin-top:-18px;
    font-family: SourceSansProLight;
}
.select-item-ticket>.select-wrapper>ul{
    border-radius:4px;
    margin-top:-18px !important;
    width:54px;
    min-width:54px !important;
}
.select-item-ticket{
    padding-left:0 !important;
}
.caret{
    font-size:12px;
    font-family: SourceSansProLight;
    opacity: 0.6;
}
.select-item-ticket>.select-wrapper>ul>li>span{
    font-size:12px;
    font-family: SourceSansProLight;
    text-align: left;
    color:#000;
}

.modal-foot{
    border-top:1px solid rgba(0, 0, 0, 0.1);
    height: 95px;
    margin-top:43px;
    padding-top:27px;
}
.modal_foot{
    padding-left:8px;
    padding-right:8px;
}
.sum-cost{
    font-size:30px;
    font-family: SourceSansProBlack;
    padding-right:48px;
}
.choose-place-btn{
    height: 34px;
    background-image: linear-gradient(120deg, #1d70b8 0%, #1d99b8 100%);
    font-size:16px;
    font-family: SourceSansProRegular;
    box-shadow: none;
    border-radius: 28px;
    margin-top:3px;
}
.back-btn,.back-btn:hover, .back-btn:active,.back-btn:focus{
    height: 34px;
    border:1px solid #2b90ce;
    color:#2b90ce;
    font-size:14px;
    font-family: SourceSansProRegular;
    box-shadow: none;
    border-radius: 28px;
    margin-top:3px;
    background-color: #fff;
}
.back-btn span{
    font-size:14px;
    font-family: SourceSansProRegular;
    position: relative;
    top:-2px;
}
.back-btn .mdi-arrow-left{
    font-size:14px;
    position: relative;
    top:1px;
}
.choose-place-btn:hover,.choose-place-btn:active, .choose-place-btn:focus{
    background-image: linear-gradient(120deg, #1d99b8 0% , #1d70b8 100%);
    box-shadow: none;
}
.modal-foot>.container{
    padding-left:40px;
    padding-right:40px;
}
.modal{
    max-height: 100%;
}
#modal2{
    overflow-x: hidden;
}
/*the end style of popups*/
/*the start of place modal style*/
.hall-content{
    padding-left:24px;
    padding-right:24px;
}

.place-modal-header{
    margin-bottom:0;
}
.hall-foot{
    margin-top:0;
}
.hall-cell{
    width:18px;
    height: 18px;
    background: #c8c8c8;
    position: relative;
}
.hall-display{
    height:200px;
}
.left-row>li,.right-row>li{
    margin-top:3.2px;
}
.hall-cell.disabled{
    background: #2b90ce !important;
}
.hall-cell.disabled:hover{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    cursor: default;
}
.hall-cell.disabled:hover a{
    cursor:default;
    opacity: 0;
}
.selected-cell{
    background: #fd0e2b;
}
.hall-cell:hover{
    background: #fd0e2b;
}
.hall-cell>a{
    font-size:14px;
    font-family: SourceSansProBold;
    color:#fff;
    position: relative;
    bottom:2px;
    opacity: 0;
}
.hall-cell:hover{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}
.hall-cell:hover a{
    opacity: 1;
    font-size: 10px;
    bottom:4px;
}
#modal3>div>.info-movie-times>ul>li{
    margin-right:40px;
}
/*the end of place modal style*/


/*he start style of choose payment type content*/
.content-payment-type{
    padding-top:36px;
    padding-bottom:36px;
}

.note{
    font-family: SourceSansProSemibold;
    font-size:14px;
    color: #2b90ce;
    margin-bottom:-12px;
}
.note-text{
    font-family: SourceSansProRegular;
    font-size: 14px;
}
.field-label{
    font-size: 12px;
    font-family: SourceSansProSemibold;
    color: rgba(0, 0, 0, 0.87);
}
.place-select>.select-wrapper>ul{
    border-radius: 4px;
}
.card-type>.select-wrapper>ul>li>span, .place-select>.select-wrapper>ul>li>span{
    font-size:12px;
    font-family: SourceSansProRegular;
    color: rgba(0, 0, 0, 0.87);
}
.card-type>.select-wrapper>ul>li>span:hover{
    color:#2b90ce;
}

.first-field{
    margin-top:12px;
}
.payment-type-left{
    padding-right:46px !important;
}
#bonus-card,#phone-number{
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 4px;
    margin-top:-16px;
    padding-left:8px;
    height: 40px;
    font-size: 14px;
    font-family: SourceSansProRegular;
}
#bonus-card:focus,#phone-number:focus{
    box-shadow: none;
    border:1px solid rgba(0, 0, 0, 0.56) !important;
}
.second-card,.third-card{
    margin-top:-8px;
}
.each-movie-trailer{
    padding-left:16px !important;
    padding-right:16px !important;
    padding-bottom:10px !important;
}
.each-movie-trailer>.playpause>.mdi-play{
    top:50%;
}
.each-movie-trailer:hover .playpause>.mdi-play{
    background: #f00;
}
.trailer{
    border-radius: 16px;
}
/*the end style of choose payment type content*/

/*the start style of pay page*/
.paying-cover{
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09), 0 10px 30px 0 rgba(0, 0, 0, 0.09);
    background: #fff;
}
.pay-header-text{
    font-family: SourceSansProBold;
    font-size:22px;
    padding-left:4px;
}
.pay_head {
    border:1px solid rgba(0, 0, 0, 0.06) !important;
}
.pay-movie-name{
    color:#2b90ce;
    font-size:18px;
    font-family: SourceSansProBold;
    padding-left:4px;
    margin-top:12px;
}
.pay-details-list>li{
    display: inline-block;
    margin-right:40px;
}
.pay-details-list>li>label,.pay-details-list>li>span{
    font-size:14px;
    font-family: SourceSansProRegular;
}
.details-left{
    padding-left:0 !important;
}
.pay-details-list{
    margin-top:-10px;
    padding-left:3px !important;
}
.details-right>label{
    color:#2b90ce;
    font-size:14px;
    font-family: SourceSansProRegular;
}
.details-right>span{
    font-size:22px;
    font-family: SourceSansProBlack;
    position: relative;
    top:-6px;
}
.details-right>span>sup{
    font-size:14px;
}
.details-right{
    margin-top:-10px;
}
.pay-details{
    border-bottom:1px solid rgba(0, 0, 0, 0.06) !important;
}
.add-card-info{
    font-size:14px;
    font-family: SourceSansProRegular;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    margin-top:32px;
}
.pay-form{
    padding-left:52px;
    padding-right:52px;
}
.card_number_lbl,.past_date_lbl,.cvc_number_lbl{
    font-size: 14px;
    font-family: SourceSansProSemibold;
    color: rgba(0, 0, 0, 0.87);
}
.card-number-input,.past-date-input,.cvc-input{
    border-bottom:0;
    border:1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 4px !important;
    font-size:14px;
    height:40px;
    font-family: SourceSansProRegular;
    margin-top:-40px !important;
    padding-left:8px !important;
}
.past-date-input{
    text-align: center;
}
.card-number-input:focus,.past-date-input:focus,.cvc-input:focus{
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.56) !important ;
}
.card-number-input{
    margin-bottom:16px !important;
}
.card_number{
    margin-top:4px;
}
.do-pay-btn{
    background-image: linear-gradient(120deg, #1d70b8 0%, #1d99b8 100%);
    font-size:16px;
    font-family: SourceSansProRegular;
    box-shadow: none;
    border-radius: 28px;
    color:#fff;
    min-width:180px;
    margin-bottom:50px;
}
.do-pay-btn:hover{
    background-image: linear-gradient(120deg, #1d99b8 0% , #1d70b8 100%);
    box-shadow: none;
}
.help-circle{
    color:#2b90ce;
}
.ticket_title{
    padding-left:16px !important;
}
/*the end style of pay page*/
.choose-place-area{
    max-width:171px;
}
.choose-place-area>.select-dropdown{
    background-color: #fff !important;
}
.choose-place-area>.caret{
    z-index:9;
}
/*pagination style*/

.pagin li a i{
    font-size: 16px;
}

.pagination li.active a,.pagination li.active{
    color:#fff !important;
    font-family: SourceSansProBold;
    background-color:#2b90ce;
    border-radius:4px;
}
.pagination li a:hover{
    color:#2b90ce;
}
.pagin{
    margin-top:24px;
}
.pagin li{
    font-size: 14px;
    font-family: SourceSansProRegular;
}

.head_table>div{
    display: inline-block;
    color:#fff;
    font-size:12px;
    font-family: SourceSansProRegular;
}
.head_table{
    padding-left:12px;
    padding-top:3px;
    height: 30px;
    background: -moz-linear-gradient(0deg, rgba(29,153,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,112,184,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(29,153,184,1)), color-stop(44%, rgba(29,153,184,1)), color-stop(100%, rgba(29,112,184,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(29,153,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,112,184,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(29,153,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,112,184,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(29,153,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,112,184,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(29,153,184,1) 0%, rgba(29,153,184,1) 44%, rgba(29,112,184,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d99b8', endColorstr='#1d70b8',GradientType=1 ); /* ie6-9 */
}

.hidden{
    visibility: hidden;
    width:18px;
}
.body_table{
    padding-left:11px;
}
.body_table>div{
    display: inline-block;
    position: relative;
    top:6px;
}
.date-row>.time-link{
    font-size:12px;
    font-family: SourceSansProSemibold;
    color:#000;
}

.middle{
    position: relative;
    width:17px;
    position: relative;
    top:36px;
}
.time-link:hover{
    border:1px solid #2b90ce;
    border-radius: 24px;
    color:#2b90ce;
}
.select2-search__field{
    display: none;
}
select:focus,select:active{
    outline:none !important;
    box-shadow: none;
    border:none;
}
.select2-dropdown{
    border:0 !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09), 0 10px 30px 0 rgba(0, 0, 0, 0.09);
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background: #fff !important;
    color:#2b90ce !important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background: #fff;
}
.select2-container--default .select2-selection--single{
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.place-select .select2 .selection .select2-selection{
    height: 36px;
    font-size: 14px;
    font-family: SourceSansProRegular;
    padding-top: 4px;
    padding-left:4px;
}
.place-select .select2 .selection .select2-selection span b{
    margin-top:2px;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background-color: #fff !important;
}
.select2-results__option{
    font-size: 14px;
    font-family: SourceSansProRegular;
    padding-left:12px !important;
}
.select2-selection:focus{
    outline:none !important;
    box-shadow: none !important;
}
.select2-dropdown{
    padding-bottom:10px;
}
.movie-date{
    margin-bottom:16px;
    margin-top:-4px;
}
.card-type .select2 .selection .select2-selection{
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    height: 40px;
    border-radius: 4px;
    padding-left: 8px;
    font-size: 12px;
    font-family: SourceSansProLight;
}
.card-type{
    margin-top:4px;
    margin-bottom:20px;
}
.card-type .select2{
    width:100% !important;
}
.first-field{
    margin-right:-10px;
}
.select-item-ticket .select2{
    width:88px !important;
}


/*------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------*/

/*changed*/
.time-remaining{
    font-size:12px;
    font-family: SourceSansProRegular;
    position: relative;
    bottom:4px;
}
.countdown-txt {
    font-size: 24px;
    font-family: SourceSansProBold;
    margin-top: 8px;
    color: #444;
}

.countdown-movie-time{
    text-align: right;
    margin-top:6px;
}

.menu-list-n{
    margin-top:22px;
    /*added*/
    float:right;
}
/*added*/
@media screen and (max-width:1024px){
    .menu-list-n>div>a{
        min-width:72px !important;
    }
}
    .menu-list-n>div{
    float:left;
    margin-bottom:8px;
}
.menu-list-n>div>a{
    font-size:12px;
    font-family: SourceSansProBlack;
    color: rgba(0, 0, 0, 0.87);
    margin-right:10px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 28px;
    min-width:82px;
    display: block;
    height: 24px;
    line-height: 22px;
    position: relative;
}
.menu-list-n>div>a:hover,.menu-list-n>div>a.active,.menu-list-n>div>a:focus{
    background: #2b90ce;
    color:#fff;
    border:1px solid #2b90ce;
}
.mov-n-cell{
    border-top:1px solid rgba(0, 0, 0, 0.13);
}
.tt-txt{
    font-size:16px;
    font-family: SourceSansProBold;
}
.rl-nop{
    padding-left:0 !important;
    padding-right:0 !important;
}
.movie-dates{
    padding:4px 8px;
}
.time-lists li{
    display: inline;
}
.time-lists li a{
    font-size: 14px;
    font-family: SourceSansProSemibold;
    color:#000;
    border-radius: 2px;
    border:1px solid #cccccc;
    padding:4px 10px;
    margin-right:16px;
    position: relative;
    margin-bottom:8px;
}
.time-lists{
    margin-bottom:8px;
}
.time-lists li a:hover,.time-lists li a:active,.time-lists li a:focus,.time-lists li a.active{
    background: #2b90ce;
    color:#fff;
    border:1px solid #2b90ce;
}
.time-lists li a:disabled,.time-lists li a.disabled{
    color: rgba(0, 0, 0, 0.12);
}
.menu-list-n div a img.laser{
    width:30px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.menu-list-n div a img.imax{
    width:40px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.movie-annotation{
    max-height:140px;
    overflow: hidden;
}
.wrapper .n-video{
    display: none;
}
.playpause>.mdi-play{
    display: none;
}
.movie-shadow{
    background: -moz-linear-gradient(270deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */
    height:360px;
    position: absolute;
    bottom:66px;
}
.movie-details{
    position: relative;
}
.rd_more{
    font-size: 14px;
    font-family: SourceSansProBold;
    color:#2b90ce;
    z-index:999;
    position: relative;
}
.close-shadow{
    display: none;
    font-family: SourceSansProBold;
    font-size:14px;
    position: relative;
    top:10px;
}
.close-shadow i.mdi-close{
    position: relative;
    top:1px;
}
.gp-tooltip,.gp-tooltip-hall{
    position: relative;
    display: inline-block;
}

.gp-tooltip .gp-tooltiptext{
     visibility: hidden;
     width: 156px;
     background-color: #fff;
     color: #000;
     text-align: left;
     border-radius: 6px;
     padding: 5px 10px;
     position: absolute;
     z-index: 1;
     bottom: 150%;
     left: 50%;
     margin-left: -78px;
     box-shadow: 0 0 10px 0 rgba(0,0,0,0.1), 0 10px 20px 0 rgba(0,0,0,0.2);
 }
.gp-tooltip .gp-tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}



.gp-tooltiptext-hall {
    visibility: hidden;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1), 0 10px 20px 0 rgba(0,0,0,0.2);
}
.gp-tooltiptext-hall::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}
.gp-tooltiptext-hall,.gp-tooltiptext-hall span{
    font-size:10px !important;
    font-family: SourceSansProRegular;
    color: rgba(102, 102, 102, 0.86);
}
.gp-tooltip:hover .gp-tooltiptext, .gp-tooltip-hall:hover .gp-tooltiptext-hall{
    visibility: visible;
}
.menu-list-n>div>a,.time-lists li a,.select2 .selection .select2-selection span b,.buy-ticket-btn>a,.pagination li,.hall-content a{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.gp-tooltiptext .gp-tool-txt{
    font-size:12px;
    font-family: SourceSansProRegular;
    color: rgba(102, 102, 102, 0.96);
}
.gp-tool-txt span {
    color: #000;
}
.ticket-type img{
    position: absolute;
    top:-6px;
    right:-1px;
    width:16px;
    height:11px;
}



/*the start of ticket_dets style*/
.ticket_dets{
    height: 150px;
    padding-top:14px;
    overflow:auto;
    white-space: nowrap;
}
.ticket_dets ul{
    display: inline-block;
}
.ticket_dets ul li{
    display: inline-block;
    margin-right:20px;
    margin-left:20px;
}
.ticket_dets ul li:last-child{
    position: relative;
    bottom:16px;
}
.ticket-det p{
    font-size: 12px;
    font-family:SourceSansProRegular;
    margin-bottom:0 !important;
    margin-top:0 !important;
}
.ticket-det p span{
    margin-left:4px;
}
.ticket-det div{
    margin:auto;
    margin-bottom:8px;
    height: 20px;
    width: 20px;
}
.color_code{
    background: #FFA87D;
}

.ticket_dets::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.ticket_dets::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.23);
}

.ticket_dets::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.08);
}
/*the end of ticket_det*/


/*////////////////////////////////
/////////////////////////////////
////////////////////////////////*/
/*the start of after payment style*/
.after-payment-cover{
    max-width:471px;
    padding-top:38px;
}
.success-py-msg{
    font-size: 18px;
    font-family: SourceSansProBold;
    color:#6abb26;
    margin-top:8px;
    margin-bottom:-8px;
    background: #fff;
}
.sc-date{
    font-size:14px;
    font-family: SourceSansProRegular;
}
.after-p-cnt{
    border:1px dashed rgba(204, 204, 204, 0.9);
    border-radius: 10px;
    padding-bottom:40px !important;
    padding-left:20px !important;
    padding-right:20px !important;
}
.after-head{
    border-bottom:1px solid rgba(0, 0, 0, 0.21);
}
.head-txt{
    font-size:22px;
    font-family: SourceSansProBold;
    color:#2b90ce;
}
.head-r-txt{
    padding-top:16px !important;
    text-align: right;
}
.pr-zero,.after-item{
    padding-left:0 !important;
    padding-right:0 !important;
}
.head-r-txt label{
    font-family: SourceSansProRegular;
    font-size: 14px;
    color: rgba(68, 68, 68, 0.87);
    display: block;
    margin-bottom: -4px;
}
.head-r-txt span{
    font-family: SourceSansProBlack;
    font-size: 22px;
}
.head-r-txt span sup{
    font-size: 13px;
}
.after-item label,.get-bonus{
    font-family: SourceSansProRegular;
    font-size:14px;
}
.after-item span{
    font-family: SourceSansProSemibold;
    font-size:14px;
}
.after-item{
    margin-top:26px;
}
.get-bonus{
    color:#2b90ce;
}
.get-bonus span{
    font-size:18px;
    font-family: SourceSansProBlack;
    color:#000;
}
.after-foot-btn,.after-foot-btn:focus,.after-foot-btn:active,.after-foot-btn:hover{
    min-width:105px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-family: SourceSansProRegular;
    color:#2b90ce;
    border-radius: 28px;
    float: right;
    margin-left:10px;
    margin-top:10px;
    background: #f1f1f1;
    box-shadow: none;
}
.bonuses .do-btn{
    margin-top:56px;
}
@media screen and (max-width:600px){
    .after-p-cnt{
        border:none;
    }
    .get-bonus{
        padding-left:20px;
    }
    .after-foot-btn{
        float: left;
        margin-left:20px;
    }
    .bonuses .do-btn .do-pay-btn{
        margin-left:0 !important;
        width:94% !important;
    }
    .m-head-img{
        position: relative;
        top:7px;
        left:10px;
    }
}

/*the start of after-payment-result style*/
.no-padding{
    padding:0 !important;
}
.no-margin{
    margin:0 !important;
}
.rl-zero-padding{
    padding-left:0 !important;
    padding-right:0 !important;
}
.m-left{
    float: left !important;
}
.m-center-align{
    text-align: center !important;
}

@media only screen and (min-width: 601px) {
    .m-row .m-col.m4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .m-row .m-col.m2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .m-row .m-col.m3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .m-row .m-col.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .m-row .m-col.m8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}
.m-logo a{
    float: right !important;
}
.m-wrapper{
    border:1px solid rgba(0, 0, 0, 0.81);
    max-width:924px;
    margin-top:16px;
    background: #fff;
    border-radius: 4px;
}
.m-title{
    font-family: RobotoBold;
    font-size: 18px;
}
.m-head-img{
    position: relative;
    top:7px;
    right:10px;
}
.m-concert-name{
    font-family: RobotoBold;
}
.m-detail-top{
    font-family: RobotoLight;
    font-size: 14px;
}
.m-detail-bottom,.barcode{
    margin-top:0;
    font-family: RobotoBold;
    font-size: 14px;
}
.m-m-details{
    margin-top:16px;
}
.barcode{
    background: rgba(0, 0, 0, 0.84);
    color:#fff;
}
.head-right-part{
    padding-top:24px !important;
}
.m-det{
    font-size: 24px;
    font-family: RobotoBold;
    display: block;
    margin-bottom:14px;
}
.m-con-txt{
    font-size:14px;
    font-family: RobotoRegular;
}.m-con-txt a{
     font-family: RobotoBold;
     color:#000;
     text-decoration: none;
 }
.m-call-txt{
    font-family: RobotoBold;
    color:#000;
    font-size: 13px;
}.ticket_img{
     height: 86px;
     margin-top:16px;
 }
.m-footer{
    max-width:924px;
    margin-top:16px;
    text-align: center;
    padding-bottom:16px;
}.m-footer span{
     font-size: 12px;
     font-family: RobotoRegular;
     color: rgba(0, 0, 0, 0.56);
 }.m-footer span a{
      color: #ffc02f;
      text-decoration: none;
  }

/*for mobile*/
@font-face {
    font-family: RobotoBold;
    src: url('../fonts/RobotoBold.ttf');
}
@font-face {
    font-family: RobotoLight;
    src: url('../fonts/RobotoLight.ttf');
}
@font-face {
    font-family: RobotoRegular;
    src: url('../fonts/RobotoRegular.ttf');
}
@media screen and (max-width:600px){
    .m-head{
        padding-bottom:16px;
    }
    .m-title{
        position: relative;
        top:8px;
    }
    .m-logo a{
        float: left !important;
    }
    .m-btn .do-btn .do-pay-btn{
        width: 94%;
        margin-left:0;
        margin-top:10px;
    }
}
@media screen and (max-width:1024px){
    .ticket_img{
        height: 64px;
    }
}
.check_ic{
    height:50px;
}



/*after-payment popups style*/
.send-print-modal{
    max-width:471px;
    padding:24px 16px 16px 16px;
    border-radius: 10px;
}
.send-print-modal a.btn{
    margin-top:20px;
    margin-bottom:4px;
}
.close_after_modal{
    position: relative;
}
.close_after_modal i{
    position: absolute;
    top: -22px;
    right: -10px;
}
@media screen and (max-width:600px){
    .send-print-modal{
        border-radius: 4px;
        width:88%;
    }
    .send-print-modal a.btn{
        margin-top:0;
        margin-left:0 !important;
    }
    .after-foot-btn{
        float: left !important;
        margin-left:20px !important;
    }
}

/*new added*/

.form-details input{
    font-size: 14px;
    font-family: RobotoRegular;
    border:1px solid rgba(198, 204, 209, 0.8) !important;
    border-radius: 4px;
    height: 40px;
    margin-bottom:0;
    padding-left:20px;
    padding-right:20px;
    max-width:80%;
    margin-top:20px;
}
.form-details input:focus{
    border:1px solid rgba(0, 0, 0, 0.41) !important;
    box-shadow: none !important;
}
.form-details input:valid{
    box-shadow: none !important;
}


